.planet-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .planet-card h2 {
    margin-top: 0;
    color: #333;
  }
  
  .planet-card p {
    margin: 10px 0;
    color: #666;
  }
  
  .planet-card ul {
    padding: 0;
    margin-top: 10px;
  }
  
  .planet-card ul li {
    list-style-type: none;
  }
  
  .planet-card strong {
    font-weight: bold;
    color: #333;
  }
  .pagination {
    text-align: center;
    margin-top: 20px;
  }
  
  .page-btn {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .page-btn:hover {
    background-color: #0056b3;
  }
  .App-header{
    text-align: center;
    color: #0056b3;
  }
  